/*
** My Portfolio main style
**
*/

/* Component
*/

.en_title {
  font-family: "Varela Round", sans-serif;
}

.en {
  font-family: "Caveat", cursive;
}

.siteContainer {
  box-sizing: border-box;
  padding-left: 50px;
  padding-right: 50px;
}

#site_title {
  text-align: center;
}
